header{
    display: flex;
    justify-content: center;
}
.containerchat{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: 80vh;
    border: 1px solid black;
    
}
.assistant{
    border: 1px solid black;
    background-color: rgb(9, 85, 85);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    color: white;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    
}

.client{
    width: 100%;
    height: 30%;
    display: none;
    margin: 0 auto;
    position: relative;
    align-items: center;
}

.client textarea{
    background-color: aquamarine;
    margin: 1rem;
}

#help{
    font-size: large;
    background-color: rgb(0, 220, 4);
    width: 10rem;
    border-radius: 1rem;
    cursor: pointer;
}